* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
}

window {
    color:      #E1E1E1;
    /*background: transparent;*/
    background: rgba(45, 45, 45, 0.2);
    border-top: 3px solid rgba(225, 225, 225, 0.1);
}

#workspaces button {
    padding:    0 10px;
    color:      #E1E1E1;
    background: rgba(45, 45, 45, 0.5);
    border-top: 3px solid #5FAF5F;
}

#workspaces button.visible {
    color:      #E1E1E1;
    background: rgba(95, 175, 95, 0.3);
    border-top: 3px solid #5FAF5F;
}

#workspaces button.focused {
    color:      #E1E1E1;
    background: rgba(95, 175, 95, 0.5);
    border-top: 3px solid #5FAF5F;
}

#workspaces button.urgent {
    border-top: 3px solid #900000;
}

#mode, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-storage, #custom-brightness {
    padding:    0 7px;
    margin:     0 0 0 10px;
    min-width:  45px;
    color:      #E1E1E1;
    background: rgba(45, 45, 45, 0.75);
    border-top: 3px solid #5FAF5F;
}

#mode {
    border-top: 3px solid #900000;
}

#clock {
    color:      #E1E1E1;
    background: rgba(95, 175, 95, 0.5);
    border-top: 3px solid #5FAF5F;
}

#battery.charging {
    border-top: 3px solid #436565;  

}

#battery.warning {
    border-top: 3px solid #DFAF00;
}

#battery.critical {
    border-top: 3px solid #900000;
}

#network.disconnected {
    border-top: 3px solid #900000;
}

#pulseaudio.muted {
    border-top: 3px solid #900000;
}

#custom-spotify {
    padding:    0 7px;
    margin:     0 10px;
    color:      #84BD00;
    background: rgba(45, 45, 45, 0.75);
    border-top: 3px solid #84BD00;
}

/*#custom-spotify.paused {
    color:      #2d2d2d;
    background: rgba(132, 189, 0, 0.5);
}*/

#custom-test.yellow {
    border-top: 3px solid #DFAF00;
}
#custom-test.red {
    border-top: 3px solid #900000;
}

